form {
	label, p {
		font-size: 14px;
		font-weight: 100;
	}
	label {
		display: none;
	}
	label.has-error {
		display: inline-block;
	}
	/* input, select, textarea {
		max-width: 100%;
	}
	select {
		max-width: 100%;
	} */
}

.modal-dialog .modal-content {
	form .well,
	form {
		margin-bottom: 0;
	}
}


.login-board {
	.remember-me {
		margin-left: 16px;
	}
}