form {
	label, p {
		font-size: 14px;
		font-weight: 100;
	}
	/* input, select, textarea {
		max-width: 100%;
	}
	select {
		max-width: 100%;
	} */
	label.control-label {
		display: none;
	}
	.has-error label.control-label {
		display: inline-block;
	}
}

.modal-dialog .modal-content {
	form .well,
	form {
		margin-bottom: 0;
	}
}

// Login page
.login-board {
	@extend %cam;
	//margin-top: 150px;
	width: 360px;
	.remember-me {
		margin-left: $quad;
	}
}
