form {
	label, p {
		font-size: 14px;
		font-weight: 100;
	}
	/* input, select, textarea {
		max-width: 100%;
	}
	select {
		max-width: 100%;
	} */
}

.login-board {
	.remember-me {
		margin-left: 16px;
	}
}