html, body {
	font-size: 18px;
	height: 100%;
	//padding-top: 20px;
	//padding-bottom: 20px;
}

h1 {
	text-align: center;
	margin-bottom: $quad * 2;
}
p + h4,
.margin-top {
	margin-top: $quad;
}


.accordion.dropdown-menu {
	position: relative;
	top: 0;
	float: none;
	min-width: auto;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

// Login page
.login-board {
	margin-top: 150px;
	width: 360px;
}

