.settings-menu {
	float: left;
	width: $sideMenuWidth;
}
.settings-container {
	padding-left: $sideMenuWidth + 2*$quad;
}

.settings-title {
	margin-top: 0;
}

// settings - Categories
.cat {
	padding: $quad * 0.5  5px  $quad * 0.5 + 2px;
}
.cat:nth-child(2n) {
	background-color: $lightBg;
}
.subcat {
	padding-left: 40px;
}


@media screen and (max-width: 768px) {
	.settings-menu {
		float: none;
		width: 100%;
	}
	.settings-container {
		padding-left: 0;
	}
	/* .cat {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} */
}
