// Time variables

/* $time: .4s; */

// Length variables

$sideMenuWidth: 185px;
$quad: 15px;

// Color variables

/* $userNameColor: #419641; */
$successColor: #3e8f3e;
$dangerColor: #b92c28;
$lightBg: #f5f5f5;

/* $facebook: #3b5b9b;
$pinterest: #ca1f27;
$instagram: #517ea3; */
