<h1>Sign up:</h1>
<div class="well">
  <form name="ctrl.signUpForm"
        ng-submit="ctrl.signUp()">
    <div class="form-group">
      <label class="sr-only">
        Login
      </label>
      <input type="text"
             class="form-control"
             ng-model="ctrl.user.username"
             ng-required="true"
             placeholder="Login">
    </div>
    <div class="form-group">
      <label class="sr-only">
        Password
      </label>
      <input type="password"
             class="form-control"
             ng-model="ctrl.user.password"
             ng-required="true"
             placeholder="Password">
    </div>
    <div class="form-group">
      <label class="sr-only">
        Repeat password
      </label>
      <input type="password"
             class="form-control"
             ng-model="ctrl.user.repeatPassword"
             ng-required="true"
             placeholder="Repeat password">
    </div>
    <div class="form-group">
      <button type="submit"
              class="btn btn-default">
        Sign Up
      </button>
      <label class="remember-me">
        <input type="checkbox">
        Remember me
      </label>
    </div>
    <p><a ui-sref="auth.signin">Sign in</a></p>
  </form>
</div>
