<form name="ctrl.signInForm" ng-submit="ctrl.signIn()">
  <div class="form-group">
    <label class="sr-only">
      Login
    </label>
    <input type="text"
           class="form-control"
           id="input-login"
           ng-model="ctrl.user.username"
           placeholder="Login">
  </div>
  <div class="form-group">
    <label class="sr-only"
           for="input-password">
      Password
    </label>
    <input type="password"
           class="form-control"
           ng-model="ctrl.user.password"
           placeholder="Password">
  </div>
  <div class="form-group">
    <button type="submit"
            class="btn btn-default">
      Sign in
    </button>
    <label class="remember-me">
      <input type="checkbox">
      Remember me
    </label>
  </div>
  <p><a ui-sref="auth.signup">Register...</a></p>
</form>
